<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <style>
    table, th, td {
      border: 1px solid #1f1e33;
    }
  </style>

  <title>CTB Clone Flask App</title>
</head>

<body>

  <h1>CTB CLONE PYGAME SCORES</h1>

  <table>
    <tr>
      <th>Time</th>
      <th>Stage Name</th>
      <th>Score</th>
      <th>Accuracy</th>
    </tr>
    {% for s in scores %}
      <tr>
        <td>{{ s.time }}</td>
        <td> {{ s.stage }} </td>
        <td>{{ s.score }}</td>
        <td>{{ s.acc * 100 }}%</td>
      </tr>
      {% endfor %}
  </table>

</body>
</html>